{% extends "admin/base.html" %} {% load static i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

<body class="{% block bodyclass %}{% endblock %}" data-label-from="{% translate 'From' %}" data-label-to="{% translate 'To' %}">

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- Load markdown libraries -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<!-- Load Unfold custom scripts -->
<script src="{% static 'js/add_tailwind_styles.js' %}"></script>
<script src="{% static 'js/load_markdown.js' %}"></script>
<script src="{% static 'js/range_date_filter.js' %}"></script>
{% endblock %}

